* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.number_displayed {
    display: flex;
    flex-wrap: nowrap;
}

.box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 5);
    padding: 1rem;
    aspect-ratio: 1 / 1;
}

button,
.number_displayed,
.timer,
.text {
    margin-bottom: 2rem;
}